@{
    ViewData["Title"] = "Contact Page";
}

<div class="contactBackground">
    <div class="cutie1">
        <div class="subcutie1">
            Comenzi telefonice
        </div>
        <br>0756.842.171
        <br>0733.131.264
        <br>0786.538.881
    </div>
    <div class="cutie2">
        <div class="subcutie2">
            Ne puteti gasi si pe
        </div>
        <br>Bulevardul Carol I 64, Craiova, Dolj, Romania
    </div>
</div>